@media screen and (max-width: 600px) {
    .nav-link a {
      float: none;
      width: 100%;
    }
  }
  div{
    padding: 10px;
    
  }
  .header{
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
 a{
  font-size: 20px;
  color: black;
  text-decoration: none;
 }
 #main-doc{
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
 }
 p, li{
  font-size: 16px;  
}
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: black;
}
